<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <title>Drømmelisten - Din online Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/frontPage.css}" >

</head>

<body>
<!-- Navbar-->
<div class="navbar">
    <div class="site-name">Drømmelisten</div>
    <div class="nav-buttons">
        <a href="/loginModal" class="btn-secondary">Log ind</a> <!--fra login.html "/loginModal" redirecting to modalpage-->
        <a href="/opretModal" class="btn-primary">Opret Konto</a> <!--fra signup.html to "/opretModal" -->
    </div>
</div>

<!-- Main Content Area-->
<div class="main-content">
    <div class="description">
        <h2>Om os</h2>
        <p>Her kan du nemt oprette en konto, logge ind og begynde at oprette dine egne ønskelister. Tilføj dine ønsker – og snart bliver det også muligt at dele dine ønskelister med familie og venner. Funktionen til at reservere gaver er også på vej, så du undgår, at to personer køber den samme gave til dig. Hold styr på dine ønsker på en enkel og smart måde!</p>
    </div>

    <div class="gift-image">
        <img th:src="@{/images/GiftsFrontPage.jpg}" alt="Gave billede">
    </div>
</div>

<!-- Footer -->
<footer>
    <p>Lavet af Daniel, Najib, Ayan og Lawand</p>
</footer>

</body>

</html>